*
{
    margin: 0;
    padding: 0;
}
.footer
{
    width: 100%;
    background-color: #3070a8;
}
.footer__text
{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    line-height: 30px;
    padding: 30px;
}
.footer p a
{
    text-decoration: none;
    color: black;
}
.footer p a:hover
{
    color: #ee8129;
    cursor: pointer;
}