footer
{
    width: 100%;
    background-color: #3498db;
    position: relative;
}
.footer__inner
{
    width: 990px;
    margin: 0 auto;
    padding: 0 5px;
}
.footer__logo
{
    display: inline-block;
    width: 260px;
    padding: 50px 0 75px 0;
    vertical-align: middle;

}
.footer__logo img
{
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
}
.footer__logo p
{
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}
.footer__connect
{
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    padding: 5px 20px;
    border-left: solid 1px #2980b9;
}
.footer__connect span
{
    margin-right: 5px;
}
.footer__icon img
{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0 3px;
}
.footer__icon:hover
{
    cursor: pointer;
}
.footer__connect p
{
    margin: 0;
    padding-top: 10px;
}
.footer__link
{
    text-decoration: none;
    color: white;
}
.footer__link:hover
{
    color: red;
    cursor: pointer;
}
@media (max-width: 800px) {
    .footer__inner
    {
        width: 758px;
    }
    .footer__connect p
    {
        display: block;
        width: 450px;
        line-height: 18px;
    }
}
@media (max-width: 320px){
    .footer__inner
    {
        width: 320px;
        margin: 0 auto;
        /*padding: 33px 0 10px;*/
    }
    .footer__logo
    {
        width: 100%;
        padding: 0;
    }
    .footer__logo img
    {
        display: block;
        width: 54px;
        height: 54px;
        margin: 33px auto 0;
    }
    .footer__logo p
    {
        display: none;
    }
    .footer__logo:after
    {
        content: "abc university";
        display: block;
        width: 170px;
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 42px;
        border-bottom: solid 1px #2980b9;
    }
    .footer__connect
    {
        display: block;
        width: 230px;
        margin: 0 auto;
        border-left: none;
        padding: 10px 0 70px;
    }
    .footer__connect span
    {
        margin-right: 5px;
        margin-left: 40px;
    }
    .footer__connect p
    {
        margin-top: 20px;
        width: 230px;
        text-align: center;
    }
}