*{
    margin: 10px 0;
}

.header
{
    width: 100%;
    background: #a64dff;
    height: 40px;
}

#content
{
    width: 900px;
    height: 40px;
    position: relative;
    margin: auto;
}

.top-menu ul
{
    list-style:none;
    padding-left: 0px;
}

.top-menu ul li
{
    float:left;
}

.top-menu ul li a
{
    color:white;
    text-decoration:none;
    font-family: Impact;
    text-transform:uppercase;
    line-height:20px;
    font-size:20px;
    padding:9px 30px 9px 30px;
}
.top-menu ul li a:hover
{
    background-color: #eee;
    color: #a0a0a0;
}
.content-right
{
    position:absolute;
    right:20px;
    top:20px;
}
.content-right a
{
    color:white;
    text-decoration:none;
    font-family: Impact;
    text-transform:uppercase;
    line-height:20px;
    font-size:20px;
    padding:9px 30px 9px 30px;
}
.content-right a:hover
{
    background-color: #eee;
    color: #a0a0a0;
}