html, body
{
    margin: 0;
    padding: 0;
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: white;
    background-color: white;
}
.header
{
    width: 100%;
    background-color: #3498db;
}
.header__inner
{
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 10px 0;
}
.header__logo
{
    float: left;
    margin-left: 5px;
}
.header__logo img
{
    width: 54px;
    height: 54px;
}
.header__logo span
{
    text-transform: uppercase;
    font-size: 26px;
    line-height: 54px;
    vertical-align: top;
    margin-left: 10px;
}
.header__connect
{
    float: right;
    margin-right: 5px;
    line-height: 54px;
}
.header__connect span
{
    margin-right: 5px;
}
.header__icon img
{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    vertical-align: middle;
    margin: 0 3px;
}
.header__icon:hover
{
    cursor: pointer;
}
